{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
     <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'AdminLte/plugins/toastr/toastr.min.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="d-flex justify-content-center align-items-center" style="width:100% ;height:100%; position:fixed;">
<div class="text-center bg-white w-25 mt-4  pt-4 pb-4 div-sign">
<!--    <img src="{% static 'images/logo.png'%}">-->
    <p class="mt-4">استعادة كلمة السر</p>
  <p>سنرسل لك التعليمات عبر البريد الإلكتروني</p>

    <div class="d-flex justify-content-center align-items-center p-2 m-2 mt-4 shadow form-group language-div">
<!--    <div>-->
<!--        <span>English</span>-->
<!--        <img class="ml-15" src="{% static 'images/gb.png' %}" width="40px" height="20px">-->
<!--    </div>-->
          <a class="logo text-decoration-none" href="{% url 'home' %}">SKU Tracking</a>
    </div>
    <form method="post">
         {% csrf_token %}
   <div class="input-group-icon m-2 mt-4">
      <input type="text" class="form-control input_email" name="email" placeholder="البريد الالكتروني" aria-label="Email">
      <i class="fa-regular fa-envelope"></i>
    </div>
        {% if form.email.errors %}
            <div class="text-danger">
                {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    <div class=" m-2 mt-4">
    <button type="submit" class="btn btn-primary w-100">
      <span class="ms-2"> اعادة تعيين كلمة السر</span> <i class="fa-solid fa-arrows-spin"></i>
    </button>

    </div>
          </form>
</div>
 <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/af74596b83.js" crossorigin="anonymous"></script>
<script src="{% static 'AdminLte/plugins/toastr/toastr.min.js' %}"></script>

<script>
        {% if messages %}
            {% for message in messages %}
               {% if message.tags  == 'success' %}
                    toastr.success('{{message}}')
                    {% elif message.tags  == 'error' %}
                        toastr.error('{{message}}')
                     {% elif  message.tags == 'info' %}
                        toastr.info('{{message}}')
                      {% else %}
                      toastr.warning('{{message}}')
                      {% endif %}
            {% endfor %}
        {% endif %}
</script>
</body>
</html>