{% extends 'base_page.html' %}
{% load static %}
{% block title %}الباقات{% endblock %}
{% block content %}
<table id="customers" class="mt-4" dir="ltr">
     <tr style="background-color:#fcd5b4 !important; font-size:20px">
         <td colspan="3">قائمة االشتراكات</td>
     </tr>
  <tr>
      <th style="background-color:#e6b8b7">PROFESSIONALS</th>
        <th style="background-color:#ffff99">GOLD</th>
        <th style="background-color:#d9d9d9">SILVER</th>
      <th style="background-color:#ddd9c4">BRONZE</th>
       <th style="background-color:#fcd5b4">الفئة</th>
  </tr>
  <tr>
    <td>يحدد الحقا</td>
    <td>2000</td>
    <td>1000</td>
   <td>500</td>
    <td style="background-color:#c5d9f1" >السعر</td>
  </tr>

   <tr>
    <td>عدد ال نهائي</td>
    <td>عدد ال نهائي</td>
    <td>3</td>
   <td>1</td>
    <td style="background-color:#c5d9f1" >عدد المستخدمين</td>
  </tr>
   <tr>
    <td>عدد ال نهائي</td>
    <td>10000</td>
    <td>3000</td>
   <td>500</td>
    <td style="background-color:#c5d9f1" >عدد المنتجات</td>
  </tr>
   <tr>
    <td>احترافي</td>
    <td>احترافي</td>
    <td>احترافي</td>
   <td>أساسي</td>
    <td style="background-color:#c5d9f1" >تقرير المنتجات</td>
  </tr>
   <tr>
    <td>احترافي</td>
    <td>احترافي</td>
    <td>احترافي</td>
   <td>أساسي</td>
    <td style="background-color:#c5d9f1" >تقرير المبيعات</td>
  </tr>
   <tr>
    <td>يوجد</td>
    <td>يوجد</td>
    <td>يوجد</td>
   <td>اليوجد</td>
    <td style="background-color:#c5d9f1" >تقرير مالي</td>
  </tr>
   <tr>
    <td>يوجد</td>
    <td>يوجد</td>
    <td>يوجد</td>
   <td>اليوجد</td>
    <td style="background-color:#c5d9f1" >تقرير بالمنافسين</td>
  </tr>
   <tr>
    <td>يوجد</td>
    <td>يوجد</td>
    <td>يوجد</td>
   <td>اليوجد</td>
    <td style="background-color:#c5d9f1" >المنتجات األكثر مبيعا</td>
  </tr>
</table>
{% endblock %}