{% extends 'home/base_layout.html'  %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'AdminLte/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">

{% endblock %}
{% block content %}
<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>الادارة المالية </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">اضافة الاسعار الاساسية للمبيعات</a></li>
              <li class="breadcrumb-item active">الادارة المالية </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
<section class="content" >
          <div class="card">
            <div class="card-body">
  <form method="post">
      {% csrf_token %}
              <div class="table-responsive">

                  <table id="example1" class="table table-bordered table-striped w-100">
                <thead>
                <tr>
                  <th>SKU</th>
                  <th>اسم المنتج</th>
                  <th>صورة المنتج</th>
                  <th>brand</th>
                    <th>السعر الاساسي</th>
                  <th >سعر البيع</th>
                  <th> حالة المنتج</th>
                </tr>
                </thead>
                <tbody>
               {% for prod in products %}
               <tr>
                 <td>{{prod.partner_sku}}</td>
                  <td>{{prod.noon_title}}</td>
                   <td>
                       <img src="{{prod.image_path}}" alt="{{prod.noon_title}}" width="100px" height="100px">
                   </td>
                  <td>{{prod.noon_brand}}</td>
                  <td>{{prod.price}}</td>
                  <td style="width:150px">
                      <div class="form-group">
                          <input class="form-control" type="number" name="{{prod.id}}" value="{{prod.sale_price}}">
                      </div>
                  </td>
                   <td>{{prod.noon_status}}</td>
               </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <th>رقم العنصر</th>
                  <th>اسم المنتج</th>
                  <th>نوع المنتج</th>
                  <th>brand</th>
                  <th>العائلة</th>
                  <th>سعر البيع</th>
                    <th>السعر الاساسي</th>
                </tfoot>
              </table>

                  </div>
 <button class="btn btn-primary w-100">Update price</button>
                      </form>


            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

      <!-- /.row -->
    </section>
{% endblock %}
{% block scripts %}
<script src="{% static 'AdminLte/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'AdminLte/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}